apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend-deployment
spec:
  replicas: 1
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
        - name: backend
          image: mshashu/k8s-ci-cd-demo:backend-latest   # use a static tag here
          ports:
            - containerPort: 3200
          env:
            - name: MONGO_URI
              value: "mongodb+srv://shashuladdu5_db_user:Masul@cluster0.eiwqro6.mongodb.net/?appName=Cluster0"
