apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend-deployment
spec:
  replicas: 1
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
        - name: frontend
          image: mshashu/k8s-ci-cd-demo:frontend-latest   # use a static tag here
          ports:
            - containerPort: 5173
          env:
            - name: BACKEND_URL
              value: "http://backend-service:5050"
